body{
    background-color: rgba(219, 215, 214, 0.733);
}

.oculto{
    display: none;
}

#logo{
    width: 80px;
}
footer {
    z-index:1;
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
}