body{
    background-color: rgba(219, 215, 214, 0.733);
}

.oculto{
    display: none;
}

.style_img{
    width: 300px;
    height: 400px;
}

#logo{
    width: 170px;
}
footer {
    z-index:1;
    position:fixed;
    left:0px;
    bottom:0px;
    
    width:100%;
  }
